.header{
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
    transform: translateY(0);
    transition: transform 0.3s ease;
    background-color: white;
    width: 100%;
    z-index: 2;
}

.header.shadow{
    box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}
  
.header.hidden{
    transform: translateY(-110%);
}
  

.laptop-menu>ul>li{
      list-style-type: none;
      display: inline;
      margin-right: 3em;
      margin-left: 1em;
}
  
.laptop-menu>ul>li>a{
      text-decoration: none;
      color: black;
      font-family:sansationItalic;
      font-style: italic;
}

.laptop-menu>ul>li>a:hover{
    color:   #FF8A00;
}

.headerLogo{
    margin-left: 1em;
    width: 45%;
}
  
.logo{
    height: 1em;
}
.laptop-menu{
    display: none;
    width: 50%;
}

.phone-menu{
  width: 45%;
  text-align: right;
  margin-right: 1em;
}

@media(min-width :1085px){
  .logo{
      height: 1.5em;
  }
  .laptop-menu{
      display: block;
  }
  .phone-menu{
      display: none;
  }
  .headerLogo{
    margin-left: 3em;
  }
  .header>div>ul>li{
      margin-left: 3em;
  }
}